.contentContainer {
    width: calc(100% - 258px);
    min-height: 711px;
}

.nonAdminContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}