div.dropBox {
    width: 172px;
    height: 48px;
    border-radius: 2px;
    border: solid 1px var(--white-three);
    background-color: var(--white);
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

span.memuValue{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: var(--charcoal-grey);
  position: absolute;
  left: 16px;
}

img.arrowIcon {
    position: absolute;
    width: 24px;
    height: 24px;
    object-fit: contain;
    object-position: center;
    right: 12px;
}

div.listContainer {
    position: absolute;
    top: calc(100% + 4px);
    left: 0px;
    border-radius: 2px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.08);
    background-color: var(--white);
}

div.hidden {
    display: none;
}

div.item {
    display: flex;
    align-items: center;
    width: 156px;
    height: calc(124px / 3);
    padding-left: 16px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--charcoal-grey);
}