div.dropBox {
    width: 179px;
    height: 30px;
    border-radius: 2px;
    border: solid 1px var(--white-two);
    background-color: var(--white-two);
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

span.memuValue{
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--dark-grey);
    position: absolute;
    left: 16px;
}

.loadingState {
    color: var(--greyish-two) !important
}

img.arrowIcon {
    position: absolute;
    width: 24px;
    height: 24px;
    object-fit: contain;
    object-position: center;
    right: 12px;
}

div.listContainer {
    position: absolute;
    top: calc(100% + 4px);
    left: 0px;
    border-radius: 2px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.08);
    background-color: var(--white-five);
}

div.hidden {
    display: none;
}

div.item {
    display: flex;
    align-items: center;
    width: 163px;
    padding:7px 0px 7px 16px;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: var(--greyish-brown);
    text-transform: none !important;
}