div.filterSizeBoxContainer {
    padding: 15px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

div.sizeBox {
    width: 40px;
    height: 40px;
    border: solid 1px var(--white-four);
    color: var(--greyish-brown);   
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

div.highlight {
    font-weight: bold;
    color: var(--white);
    background-color: var(--pale-orange);
    border: 1px solid var(--pale-orange);
}